header {
  text-align: center;
  padding: 15rem 0;
  h3 {
    line-height: 20px;
  }
}
.rocket {
  max-width: 205px;
  display: block;
  margin: 0 7rem;
  float: left;
}
.fadeInUp {
  transition: 1s ease-in;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 2s ;
  animation-fill-mode: forwards;
}


/* Keyframes
--------------------------------- */

@-webkit-keyframes fadeInUp {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,-15%)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,-15%)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,-15%)  ;
  }
}
