$primary-color:     #234567;
$red:               #F44336;
$blue:              #2196F3;
$green:             #4CAF50;
$orange:            #FF5722;
$purple:            #673AB7;
$gray:              #607D8B;
$white:             #FFFFFF;
