$primary-color:     #F44336;
$secondary-color:   #4CAF50;
$red:               #F44336;
$blue:              #2196F3;
$green:             #4CAF50;
$orange:            #FF5722;
$purple:            #673AB7;
$gray:              #F3F3F3;
$dark:              #333333;
$white:             #FFFFFF;
