$default-vertical-padding:       7rem 0;
$default-horizontal-padding:     0 3rem;
$compontent-height:              3.8rem;
//Border-Radius Mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
